.box {
    background-color: blue;
    width: 400px;
    height: 600px;
}

.box-red {
    background-color: red;
    width: 200px;
    height: 300px;
}

/*absolute includes space between itself and the parent container*/
    /*use top: 0 left: 25px*/
/*relative means that the space is relative to itself; moves without disturbing*/
    /*better to set parent container to relative and then .box1 to absolute*/
/*static is standard*/
/*position fixed with top and left indicated will make it stay put*/