.box {
    color: white;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-weight: bold;
    margin-top: 50px;
    padding: 10px;
    float: left;
    position: relative;
    text-shadow: 2px 2px #000;

}

.box-red {
    background-color: red;

}

.box-orange {
    background-color: orange;
    margin-left: 50px;


}

.box-yellow {
    background-color: yellow;
    margin-left: 50px;

}

.box-green {
    background-color: green;
    clear: left;

}

.box-blue {
    background-color: blue;
    margin-left: 50px;

}

.box-plum {
    background-color: plum;
    margin-left: 50px;

}

.ribbon {
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;

}

.box>img {
    /*float:right;*/
    position: absolute;
    top: -40px;
    left: 50px;
}


h1 {
    margin-bottom: 0px;
}


/*every div element that is the second child of the parent main (div is within main)*/

/*div:nth-child(2) {*/
    /*background-color: plum;*/
/*}*/


/*!*turning off floating by using clear:both; this makes the list 3x2; selects all odd divs*!*/
/*div:nth-child(odd) {*/
    /*clear:both;*/
/*}*/