/*stick to using classes in css; save id for javascript*/


.fancy-header {
    color: purple;
    font-size: 50px;
    text-decoration: underline;
    font-family: "Arial Black";
}

header {
    text-align: center;
}

h2 {
    color: palevioletred;
}

.test {
    background-color: aliceblue;
    font-size: 20px;
    border-color: palevioletred;
}