/*stick to using classes in css; save id for javascript*/

.table-content {
    background-color: aliceblue;
    font-size: 20px;
    border-color: palevioletred;
}

td {
    padding-right: 50px;
    padding-left:50px;
    text-align: center;
}

tr:hover {
    color: purple;
}

a:hover {
    font-weight: bold;
}

a:link {
    text-decoration: none;
    font-size: 20px;

}

a:visited {
    color: darkred;
}
img:hover {
    opacity: 1.0;
}

img {
    opacity: 0.5;
}


header {
    text-align: center;
    background-image: url("../images/blur-lights.jpeg");
    background-position: center;
    background-size: cover;
    color: black;
}


h2 {
    color: #ff63f4;
    text-decoration: underline;

}

body {
    background-image: url("../images/roses.jpeg");
    background-size: cover;
    font-family: 'Indie Flower', cursive;
}

.center {
    width:300px;
    margin:0 auto;
    text-align:left;
}



th {
    font-weight: bold;
    color: purple;
}

ol {
    list-style-type: disc;

}
ul {
    list-style-type: circle;

}

/*.border-image {*/
    /*border: 100px;*/
/*}*/






/*!*putting a comma will do everything listed; will do it all*!*/
/*main, p {*/

/*}*/

/*!*putting a space will do everything that is a paragraph within main*!*/
/*main p {*/

/*}*/

/*!*putting a space will do everything that is a span within paragraph within main*!*/
/*main p  span{*/

/*}*/